notebooks/tower.json
[{
  "id": "63926643.32bab8",
  "type": "tab",
  "label": "Tower Flow",
  "disabled": false,
  "info": ""
}, {
  "id": "79fa107.4eb3ef",
  "type": "comment",
  "z": "63926643.32bab8",
  "name": "Functional Request",
  "x": 110,
  "y": 40,
  "wires": []
}, {
  "id": "fafea969.3fcca",
  "type": "inject",
  "z": "63926643.32bab8",
  "name": "Functional Tower Request",
  "props": [{
    "p": "payload.requestor",
    "v": "Pietje Puk",
    "vt": "str"
  }, {
    "p": "payload.request_date",
    "v": "",
    "vt": "date"
  }, {
    "p": "magic_word",
    "v": "Sales",
    "vt": "str"
  }],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "x": 190,
  "y": 100,
  "wires": [
    ["290354ce.3c33e4", "30c58a56.9d5b86", "2e19ebb3.edb97c"]
  ]
}, {
  "id": "30c58a56.9d5b86",
  "type": "template",
  "z": "63926643.32bab8",
  "name": "Add Hosts",
  "field": "payload.func_spec",
  "fieldType": "msg",
  "format": "json",
  "syntax": "mustache",
  "template": "{\n    \"func_spec_type\": \"inventories\",\n    \"hosts\" : [\n        {\"Name\": \"APOLLO5289\"},\n        {\"Name\": \"APOLLO5290\"}\n        ]\n}",
  "output": "json",
  "x": 450,
  "y": 140,
  "wires": [
    ["3c2f8ac7.d897a6"]
  ]
}, {
  "id": "65ffb40a.f36bac",
  "type": "debug",
  "z": "63926643.32bab8",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "payload",
  "targetType": "msg",
  "statusVal": "",
  "statusType": "auto",
  "x": 910,
  "y": 100,
  "wires": []
}, {
  "id": "290354ce.3c33e4",
  "type": "template",
  "z": "63926643.32bab8",
  "name": "Add Organization",
  "field": "payload.func_spec",
  "fieldType": "msg",
  "format": "json",
  "syntax": "mustache",
  "template": "{\n    \"description\": \"ACME {{magic_word}} Organization\",\n    \"func_spec_type\": \"organization\",\n    \"name\": \"ACME Inc.\"\n}",
  "output": "json",
  "x": 470,
  "y": 80,
  "wires": [
    ["3c2f8ac7.d897a6"]
  ]
}, {
  "id": "2e19ebb3.edb97c",
  "type": "template",
  "z": "63926643.32bab8",
  "name": "Add Credentials",
  "field": "payload.func_spec",
  "fieldType": "msg",
  "format": "json",
  "syntax": "mustache",
  "template": "{\n    \"func_spec_type\": \"scm_credential\",\n    \"kind\": \"scm\",\n    \"name\": \"GitLab\",\n    \"password\": \"secret\"\n}",
  "output": "json",
  "x": 460,
  "y": 200,
  "wires": [
    ["3c2f8ac7.d897a6"]
  ]
}, {
  "id": "3c2f8ac7.d897a6",
  "type": "join",
  "z": "63926643.32bab8",
  "name": "",
  "mode": "custom",
  "build": "array",
  "property": "payload.func_spec",
  "propertyType": "msg",
  "key": "topic",
  "joiner": "\\n",
  "joinerType": "str",
  "accumulate": false,
  "timeout": "",
  "count": "3",
  "reduceRight": false,
  "reduceExp": "",
  "reduceInit": "",
  "reduceInitType": "num",
  "reduceFixup": "",
  "x": 730,
  "y": 120,
  "wires": [
    ["65ffb40a.f36bac", "b191318a.0b9ab"]
  ]
}, {
  "id": "b191318a.0b9ab",
  "type": "json",
  "z": "63926643.32bab8",
  "name": "Functional DB Object",
  "property": "payload",
  "action": "",
  "pretty": true,
  "x": 940,
  "y": 160,
  "wires": [
    []
  ]
}]
